.services{
    padding: 90px 0px;
    background-color: #1A1F25;
    color: white;
    text-align: center;
    &_title{        
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500px;
        font-size: 16px;
        line-height: 59px;
        margin-bottom: 80px;
    }
    &_row{
        display: flex;
        flex-wrap: wrap;
    }
    &_card{
        width: 20%;
        height: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
        padding: 0px 19px 0px 21px;
        border-bottom: 1px solid #595959;
        border-left: 1px solid #595959;
        &:nth-last-child(-n+5){
            border-bottom: none;

        }
        &:nth-child(5n+1){
            border-left: none;
        }
        &-title{
            font-family: sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
        }
        &:nth-child(14){
            order: (15);
        }
        &:nth-child(12){
            order: (14);
        }
        &:nth-child(15){
            order: (13);
        }
        &:nth-child(13){
            border-left:1px solid #1A1F25 ;
        }
        &:nth-child(11){
            order: (12);
            border-left:1px solid #595959 ;
        }
    }
  
}